################################################################################
#  .gitignore
################################################################################

*.user
.vs
obj
bin
packages
/publish
/nupkg
push.cmd
